* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-gap: 9px;
    background-color: aqua;
    grid-template-columns: auto auto auto auto;
}

.box {
    background-color: yellow;
    border: 2px solid black;
}