* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 25px;
    background-color: purple;
    /* animation: witg .1s infinite; */
}

@keyframes witg {
    0% {
        background-color: violet;
    }

    10% {
        background-color: yellow;
    }

    20% {
        background-color: white;
    }

    30% {
        background-color: black;
    }

    40% {
        background-color: green;

    }

    50% {
        background-color: silver;
    }

    60% {
        background-color: gold;

    }

    70% {
        background-color: darkgoldenrod;

    }

    80% {
        background-color: blue;

    }

    90% {
        background-color: crimson;

    }

    1000% {
        background-color: tomato;

    }
}

.box {
    display: inline-flex;
    height: 10vh;
    width: 10vw;
    background-color: red;
    animation: witg .5s infinite;
}

.box1 {
    display: inline-flex;
    height: 10vh;
    width: 10vw;
    background-color: red;
    animation: witg .4s infinite;

}

/* @media screen and (max-width:1000px) {
    body {
        background-color: red;
    }
}

@media screen and (max-width:800px) {
    body {
        background-color: yellow;
    }
} */