* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    color: gray;
}

#btn-left,#btn-right {
    margin-top: 1rem;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
}

#one-box {
    border: 2px solid red;
    width: 50%;
    height: 100%;
}

#two-box {
    border: 2px solid red;
    width: 50%;
    height: 100%;
}

.first {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.second {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
}

.third {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
}